# Build outputs
dist/
build/
node_modules/

# Gradle
.gradle/
plugin/.gradle/
plugin/build/
plugin/gradle/wrapper/gradle-wrapper.jar
plugin/gradle/wrapper/gradle-wrapper.properties
plugin/bin

# IDE
.idea/
*.iml
.vscode/
*.class

# Decompiled sources
plugin/decompiled-src/
